<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit - {{.Name}}</title>
</head>
<body>
<h2>Edit Item</h2>
<form action="/item/{{.Id}}" method="POST">
  <p>
    <label for="name">Name :</label>
    <input type="text" name="name" placeholder="{{.Name}}" \>
  </p>
  <p>
    <label for="owner">Owner :</label>
    <input type="text" name="owner" placeholder="{{.Owner}}" \>
  </p>
  <p>
    <label for="description">Description:</label><br \>
    <textarea rows="5" cols="40" name="description" placeholder="{{.Description}}"></textarea>
  </p>
  <p>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Update">
  </p>
</form>
</body>
</html>
